body {
  background-color: #000;
}

table {
  margin: 100px auto;
  border-collapse: collapse;
  background-color: rgb(11, 143, 244);
}

td {
  width: 120px;
  height: 120px;
  border: 2px solid #000;
}

img {
  width: 100%;
  height: 100%;
}
